<!--<div>
    <form class="file-upload" enctype="multipart/form-data" (submit)="submit()">
        <input [(ngModel)]="file" type="file" name="file" id="fileSelector" accept=".png,.yaml,.json"><br />
        <button type="submit">Submit</button>
    </form>
</div>-->

<h1>Please Upload file.</h1>
<div>
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
        <div>
            <input type="file" name="swaggerFile" (change)="onFileSelect($event)" />
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>
</div>