.table {
  margin-left: auto;
  margin-right: auto;
  border-color: #474C55;
} 

h2 {
  color: #474C55;
  text-align: center;
  font-size:170%;
  font-weight:500;
}

table {
  border-color: #474C55;
  color: white;
  box-shadow: 0 8px 10px -5px #474C55;
}

thead {
  background-color: #474C55;
  border-color: #474C55;
}

td {
  color: #474C55;
  background-color: white;
  border-bottom: 1px solid #B9B9BA;
}

.btn {
  background-color: #F26925;
  color: white;
} 	