<nav class="navbar custom">
  <a class="navbar-brand" href="/home">
    <div class="box">
      <h2 id="title-button" class="inner-text mt-2 pb-1">Docutest</h2>
    </div>
  </a>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Actions
    </button>
    
    <input type="number" [(ngModel)]="id" placeholder="Summary ID" />
    <button class="btn btn-primary" (click)="searchSummary()">Search</button>
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="upload">Upload</a>
      <a class="dropdown-item" routerLink="results-summary">Result Summary Page</a>
      <a class="dropdown-item" routerLink="cssdash">Dashboard</a>
    </div>
  </div>
</nav>
