nav {
  background-color: #474C55;
  box-shadow: 0 8px 10px -5px #474C55;
}

#title-button {
  font-size: 200%;
  letter-spacing: 1px;
  border-bottom: dotted #F26925 8px;
}
.navbarButton{
  background-color: #F26925;
  border: none;
  border-radius: 0px;
  color: #FFFF;
}
#dropdownMenuButton {
  background-color: #F26925;
  border: none;
  border-radius: 0px;
  color: #FFFF;
}
.dropdown-menu {
  box-shadow: 0 8px 10px -5px #474C55;
  position: absolute;
  left: -6.7em;
  border-color: #474C55;
}
.dropdown-item {
  font-weight: 400;
  color: #474C55;
}