<nav class="navbar custom">
  <a class="navbar-brand" href="/home">
    <div class="box">
      <h2 id="title-button" class="inner-text mt-2 pb-1">Docutest</h2>
    </div>
  </a>
  
  <div class="text-right ml-auto" style="margin-right:5px">
  <input type="number" [(ngModel)]="id" placeholder="Summary ID" />
  <button class="btn navbarButton rounded" style="background-color:#F26925;" (click)="searchSummary()">Search</button>
  </div>

  <div class="text-right">
  <div class="dropdown">
    <button
      class="btn dropdown-toggle rounded"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Actions
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" routerLink="upload">Upload</a>
      <a class="dropdown-item" routerLink="results-summary">Result Summary Page</a>
      <a class="dropdown-item" routerLink="cssdash">Dashboard</a>
    </div>
  </div>
</div>
</nav>
