<div class="dash-container">
    <div #treeMapContainer class="treemap-container flex-item-grow">
        <app-tree-map></app-tree-map>
    </div>
    <div class="flex-item-grow endpoint-dash-container">
        <div class="flex-item-grow endpoint-overview-container sudo-card">
            <app-endpoint-overview></app-endpoint-overview>
        </div>
    
        <div class="box-chart-container sudo-card">
            <app-box-chart></app-box-chart>
        </div>
        <div class="circle-chart-container sudo-card">
            <app-http-status-circle-chart></app-http-status-circle-chart>
        </div>
        
    </div>
</div>