.white-text {
    color: white;
}

.dropdown-item {
    cursor: pointer;
}

.tooltip {
    display: flex;
    align-items: flex-start;
}

.chart-container {
    display: flex;
    min-height: 25em;
    max-width: 80%;
    align-self: center;
}