<div class="container">
    <div>
        <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
            <div>
                <input type="file" name="swaggerFile" (change)="onFileSelect($event)" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Upload</button>
            </div>
        </form>
    </div>
    <!--<div class="container">
    <h1>Please insert a file</h1>
    <div class="input-group mb-3">
        <div class="custom-file">
                <input type="file" class="custom-file-input" name="swaggerFile" (change)="onFileSelect($event)"
                    required=".yaml,.json">
                <label class="custom-file-label" for="swaggerFile">Choose file</label>
                <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </div>
</div>-->