<div class="container">
    <div class="child">
        <form [formGroup]="uploadForm">
            <div>
                <input #fileIn class="file-input" type="file" accept=".yml, .yaml,.json" name="swaggerFile"
                    (change)="onFileSelect($event)" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Upload</button>
            </div>
        </form>
    </div>
</div>
<div class="center">
    <div *ngIf = "show" class="alert alert-danger text-center" role="alert">
        {{ errorMsg }}
    </div>
</div>
