<div class="container">
  <div class="child">
    <form [formGroup]="uploadForm">
      <div>
        <input
          #fileIn
          class="file-input"
          type="file"
          accept=".yaml,.json"
          name="swaggerFile"
          (change)="onFileSelect($event)"
        />
      </div>
      <div>
        <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#modal2" [disabled]="!selectedFile">
          Start Test
        </button>
      </div>
    </form>
    <button class="btn btn-primary" type="submit" data-toggle="modal" data-target="#modal2">
      STLW
    </button>
  </div>
</div>
<div class="center">
  <div *ngIf = "show" class="alert alert-danger text-center" role="alert">
      {{ errorMsg }}
  </div>
</div>
