.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e2e2e2;
}

.host-container {
    display: flex;
    flex: 1;
    background-color: blue;
}