.left-column {
  position: fixed;
  height: calc(100vh - 72px);
  min-width: 300px;
  resize: horizontal;
  overflow: auto;
}

.form-control {
  background: url(../../../static/img/search-light-grey.svg) no-repeat scroll
    10px 10px white;
  padding-left: 35px;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.endpoints {
  overflow-y: auto;
}

.btn {
  width: 80px;
}

.add-remove-btns {
  display: none;
}
