<div class="container">
  <div class="child">
    <button
      *ngIf="!running"
      class="btn btn-primary"
      type="button"
      (click)="startTest(); click = true"
    >
      Start Test
    </button>
    <button
      class="btn btn-primary btn-sm"
      type="button"
      (click)="showAdvance()"
      id="advance"
      [disabled]="click"
    >
      Advance Options
  </button>
  <button class="btn btn-primary btn-sm" (click)="cancel()">Cancel</button>
    <p *ngIf="running">Test has been running for : {{ time }} seconds</p>
    <mat-progress-bar *ngIf="running" mode="buffer"></mat-progress-bar>
  </div>
  <div class="child" *ngIf="advance">
    <form [formGroup]="advanceForm">
     <mat-form-field>
        <mat-label>Test plan name </mat-label>
        <input matInput type="text" id="planName" value="" formControlName="planName" /><br />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Number of Loops </mat-label>
        <input matInput type="number" id="loops" min="0" max="200" formControlName="loops" /><br />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Duration (in Seconds) </mat-label>
        <input
          matInput
          type="number"
          id="duration"
          min="0"
          max="200"
          formControlName="duration"
        /><br />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Number of threads </mat-label>
        <input
          matInput
          type="number"
          id="thread"
          min="0"
          max="200"
          formControlName="thread"
        /><br />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ramp Up (in Seconds) </mat-label>
        <input
          matInput
          type="number"
          id="rampUp"
          min="0"
          max="200"
          formControlName="rampUp"
        /><br />
      </mat-form-field>
      <section class="example-section">
        <mat-checkbox class="example-margin" value="allowRedirect" (click)="changeRedirect" formControlName="followRedirect"
          >Allow Follow Redirects</mat-checkbox
        >
      </section>
    </form>
  </div>
  <div *ngIf="running">
    <table>
      <caption>Load Test Configuration</caption>
      <th scope="col">Load Test Settings</th>
      <tr *ngIf="advance">
        Test Plan Name :
        {{
          LTC.testPlanName
        }}
      </tr>
      <tr>
        Number of Loops :
        <strong>{{ LTC.loops }} Loops</strong>
      </tr>
      <tr>
        Length of tests :<strong> {{ LTC.duration }} seconds</strong>
      </tr>
      <tr>
        Number of threads :
        <strong> {{ LTC.threads }} Users </strong>
      </tr>
      <tr>
        Ramp up Period
        <strong>{{ LTC.rampUp }} Seconds</strong>
      </tr>
      <tr>
        Allow Redirects :
        <strong>{{ LTC.followRedirects }}</strong>
      </tr>
    </table>
  </div>
  <div class="center">
    <div *ngIf="msgShowSuccess" class="alert alert-success text-center" role="alert">
      {{ msg }}
    </div>
    <div *ngIf="msgShowError" class="alert alert-danger text-center" role="alert">
      {{ msg }}
    </div>
  </div>
</div>
