<!-- Table for Success and Failures start-->
<table class="table">
  <!--Accessible to visually impaired users-->
  <caption hidden>
    Successes and Failures
  </caption>
  <thead class="thead-dark">
    <tr>
      <!--Table columns start -->
      <th scope="col"></th>
      <th scope="col">Failures</th>
      <th scope="col">Successes</th>
      <th scope="col">Success rate</th>
      <th scope="col">Request per second</th>
    </tr>
    <!--Table columns end -->
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ data.failCount }}</td>
      <td>{{ successes }}</td>
      <td>{{ data.successFailPercentage }}%</td>
      <td>{{ data.reqPerSec }}</td>
    </tr>
  </tbody>
</table>
