<!-- Table for Success and Failures start-->
<table class="table">
  <!--Accessible to visually impaired users-->
  <caption>
    Successes and Failures
  </caption>
  <thead class="thead-dark">
    <tr>
      <!--Table columns start -->
      <th scope="col"></th>
      <th scope="col">Failures</th>
      <th scope="col">Successes</th>
      <th scope="col">Success rate</th>
    </tr>
    <!--Table columns end -->
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>10 (dummy data)</td>
      <td>20 (dummy data)</td>
      <td>40% (dummy data)</td>
    </tr>
  </tbody>
</table>
