#description {
  line-height: 130%;
}

.jumbotron {
  background-color: #B9B9BA;
  box-shadow: 0 8px 10px -5px #B9B9BA;
  padding-left: 8em;
  padding-right: 8em;
}

h1 {
  font-size: 200%;
}

#buttonLabel {
  font-size: 120%;
}

#uploadButton {
  background-color: #474C55;
  box-shadow: 0 8px 10px -5px #474C55;
}

.btn {
  background-color: #F26925;
}